::-moz-selection {
  background: $medium-gray;
  color: $white;
  text-shadow: none;
}

::selection {
  background: $medium-gray;
  color: $white;
  text-shadow: none;
}

blockquote {
  border: none;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  cite {
    &:before {
      display: none;
    }
  }
}

body {
  overflow-x: hidden;
}

p {
  font-size: 1.1rem;
}

.instruction {
  font-size: 3.5rem;
  margin: 3rem 0;
  text-align: center;
  @include breakpoint(medium down) {
    font-size: 2rem;
  }
}

.sub-title {
  border-bottom: 1px solid $medium-gray;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.sub-title-alt {
  font-size: 1.5rem;
  font-weight: 400;
}

.title {
  @include breakpoint(medium down) {
    text-align: center;
  }
  br {
    @include breakpoint(small down) {
      display: none;
    }
  }
}

.underline {
  margin-bottom: 3rem;
  position: relative;
  &:before {
    bottom: -1rem;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 4rem;
  }
  &.align-center {
    text-align: center;
    &:before {
      left: 50%;
      margin-left: -2rem;
    }
  }
  &.align-left {
    &:before {
      left: 0;
      @include breakpoint(medium down) {
        left: 50%;
        margin-left: -2rem;
      }
    }
  }
  &.align-right {
    text-align: right;
    @include breakpoint(medium down) {
      text-align: center;
    }
    &:before {
      right: 0;
      @include breakpoint(medium down) {
        left: 50%;
        margin-left: -2rem;
      }
    }
  }
  &.primary {
    &:before {
      background-color: map-get($foundation-palette, primary);
    }
  }
  &.secondary {
    &:before {
      background-color: map-get($foundation-palette, secondary);
    }
  }
}