.top-menu, .footer-menu,  footer, .alt-menu, .synced-menu{
    background: rgba(8,10,22,0.9);
}
 

.l-vspacing-large{
    padding-top:6.5rem;
}

body{
    background : #c0c0c0;
     color: #333;
}

.logo img{
    height : 0.8em;
    margin-bottom : 7px;
}

.company-color, a, a:hover{
    color: #0073b1;
}

.top-menu a{
	color: #FFF !important;
	font-weight: bold;
}


.logo{
    font-size : 2em;
    color : white;
}


.main-menu nav[role="navigation"] a:not(.button).active::before{

    background-color : #fff;
    bottom: -2px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
}

ul.menu {
  list-style-type: none;
}

.alt-menu .icon-positioning .icon-label{
    display:inline;
}

.contact-information{
    list-style-type:none;
}

.button.primary{
    color: #0073b1 !important;
    border : 3px solid #0073b1;
    background: transparent !important;
}


.button.primary:hover, .button.primary:focus,
.overlay-menu .menu .button.primary:hover, .overlay-menu .menu .button.primary:focus{
					       color : #005b8c !important;
					       border :  solid 3px;
			   background : transparent !important;
		       }

nav .menu a:hover{
    color: #005b8c !important;
}



.error{
    background : #f8f8f8;
    color : #3a3a3a;
}

.overlay-menu{
    background-color: rgba(8,10,22,0.9);
}

.overlay-menu .menu a::before{
    background-color: #0073b1;
}

.overlay-menu .menu a{
    color: #0073b1;
}

.overlay-menu .menu a:hover{
    text-decoration : none;
    color: #0073b1 !important;
}

.menu-toggle-inner,
.menu-toggle-inner::after, .menu-toggle-inner::before{
    background-color : #d3d3d3 !important;
			   }

h1{
    text-decoration : underline;
}


.menu-toggle:focus, .menu-toggle-box:focus, .menu-toggle-inner:focus{
    text-decoration:none;
}

.bg-light-dark{
    background-color : #C0C0C0;
}

#found_me{
    border: solid blue 1px;
    background: red;
}

.footer-menu .copyright{
    float:none;
}



.blog-post, .content-box{
    background : white;
}


.modal-content{
    background: rgba(20, 32, 45, 0.6);
    border:white 2px solid;
}

.btn-primary{
    background:#0073b1;
    border :#0073b1;
}

.btn-primary:hover, .btn-primary:link, .btn-primary:active{
    background:#005b8c;
    border : #005b8c;
}

.btn-primary:hover{
    background:#005b8c;
    border : #005b8c;
}

.modal .close{
    color : white;
}