.accordion {
  list-style: none;
  margin: 0;
}

.accordion-item {
  margin-bottom: 1.8rem;
  position: relative;
  &:before {
    background-color: $medium-gray;
    content: "";
    height: 100%;
    left: 0.45rem;
    position: absolute;
    top: 1.5rem;
    width: 1px;
  }
  &:last-child {
    &:before {
      display: none;
    }
  }
  &.is-default {
    .accordion-content {
      display: block;
    }
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 1.2rem;
    padding-left: 1.8rem;
    position: relative;
    &:before {
      @include transition(border-color 0.3s ease-in-out)
      border: 2px solid $medium-gray;
      border-radius: 50%;
      content: "";
      height: 1rem;
      left: 0;
      position: absolute;
      top: 3px;
      width: 1rem;
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .accordion-content {
    padding-left: 1.8rem;
    display: none;
    overflow: hidden;
  }
  .accordion-title {
    color: $dark-gray;
    display: block;
    &.is-active, &:hover {
      h3 {
        &:before {
          border-color: map-get($foundation-palette, secondary);
        }
      }
    }
  }
}

