.button {
  font-size: 1.1rem;
  &.neutral {
    @include button-style($medium-gray2, scale-color($medium-gray2, $lightness: -20%), $white);
  }
  &.neutral-inverted {
    @include button-style($white, $light-gray, $dark-gray, $dark-gray);
  }
  &.primary {
    @include button-style(map-get($foundation-palette, primary), scale-color(map-get($foundation-palette, primary), $lightness: -20%), $white);
  }
  &.primary-empty {
    @include button-hollow-style(map-get($foundation-palette, primary), map-get($foundation-palette, primary));
  }
  &.secondary {
    @include button-style(map-get($foundation-palette, secondary), scale-color(map-get($foundation-palette, secondary), $lightness: -20%), $white);
  }
  &.white-inverted {
    @include button-hollow-style($white, $dark-gray);
  }
  @include breakpoint(small down) {
    display: block;
    width: 100%;
  }
}

.button-group {
  &.align-input {
    margin: 0;
    .button {
      font-size: 1rem;
      margin: 2.4rem 1rem 0 0;
      padding: 0.8rem 1rem;
      @include breakpoint(small down) {
        margin-top: 1rem;
      }
    }
  }
  .button {
    font-size: 1.1rem;
  }
}