.connexion-bank {
  margin-bottom: 2rem;
  padding-left: 10rem;
  position: relative;
  a {
    color: map-get($foundation-palette, noticeDark);
    text-decoration: underline;
  }
  img {
    left: 0;
    position: absolute;
    width: 8rem;
  }
  .bank-name {
    font-weight: 600;
    margin: 0;
  }
}