.menu-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  margin: 0;
  overflow: visible;
  padding: 15px;
  right: -15px;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  @include breakpoint(medium down) {
    display: inline-block;
  }
  &.is-active {
    .menu-toggle-inner {
      transition-delay: .1s;
      transform: translate3d(0, 10px, 0) rotate(135deg);
      &:after {
        transition-delay: .1s;
        transform: translate3d(0, -20px, 0) rotate(-270deg);
      }
      &:before {
        opacity: 0;
        transition-delay: 0s;
      }
    }
  }
}

.menu-toggle-box {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.menu-toggle-inner {
  background-color: $dark-gray;
  border-radius: 4px;
  display: block;
  height: 3px;
  margin-top: -2px;
  position: absolute;
  top: 2px;
  transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
  transition-duration: .4s;
  transition-property: transform;
  width: 40px;
  &:after, &:before {
    background-color: $dark-gray;
    border-radius: 4px;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    width: 40px;
  }
  &:after {
    top: 20px;
    transition: transform .4s cubic-bezier(.68, -.55, .265, 1.55);
  }
  &:before {
    top: 10px;
    transition: opacity .15s .4s ease;
  }
}