.category {
  @include transition(all 0.3s ease-in-out);
  background-color: $white;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  filter: grayscale(100%);
  font-size: 1.2rem;
  opacity: 0.5;
  padding: 0.7rem;
  text-align: left;
  width: 100%;
  &.is-active {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05);
    filter: grayscale(0);
    opacity: 1;
  }
  &:hover {
    filter: grayscale(0);
    opacity: 0.8;
    &.is-active {
      opacity: 1;
    }
  }
  &.hide-for-large {
    margin-bottom: 1rem;
  }
  span {
    line-height: 2rem;
    padding-left: 1rem;
  }
  .icon {
    display: inline-block;
    float: left;
    height: 2rem;
    width: 2rem;
  }
}

.toggle-content {
  min-height: 30rem;
  background-color: #f0f0f0;
  .faq-title {
    @include breakpoint(medium down) {
      margin-bottom: 4rem;
      text-align: center;
    }
    .button {
      @include breakpoint(medium down) {
        float: none;
      }
    }
    .title {
      br {
        @include breakpoint(medium down) {
          display: none;
        }
      }
    }
  }
}

.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  @include breakpoint(medium down) {
    display: none;
  }
  li {
    margin-bottom: 0.5rem;
  }
}