.choice-frame {
  @include transition(all 0.3s ease-in-out);
  background-color: $white;
  border: 1px solid #acacac;
  color: $medium-gray2;
  display: block;
  padding: 4rem;
  position: relative;
  text-align: center;
  @include breakpoint(medium down) {
    padding: 2rem;
  }
  &.featured {
    border-color: map-get($foundation-palette, primary);
    .frame-tag {
      color: map-get($foundation-palette, primary);
      border-color: map-get($foundation-palette, primary);
    }
  }
  &:hover {
    color: $medium-gray2;
  }
  h2 {
    font-size: 2.2rem;
    @include breakpoint(medium down) {
      font-size: 1.7rem;
    }
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 400;
    em {
      color: map-get($foundation-palette, primary);
      font-style: initial;
    }
  }
  svg {
    margin: 1rem 0 2rem 0;
    @include breakpoint(medium down) {
      margin: 0.5rem 0 1rem 0;
      width: 5rem;
    }
  }
  .button {
    margin-top: 2rem;
  }
  .frame-tag {
    position: absolute;
    top: -18px;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 15px;
    color: #acacac;
    border: 1px solid #acacac;
    left: 50%;
    font-size: 1rem;
    transform: translateX(-50%);
  }
}