.heading {
  background-color: map-get($foundation-palette, secondary);
  color: $white;
  padding: 10rem 0 3rem 0;
  position: relative;
  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    @include breakpoint(medium down) {
      float: none;
    }
  }
  &.landing-status {
    padding: 15rem 0 9rem 0;
    text-align: center;
    @include breakpoint(medium down) {
      padding: 10rem 0 6rem 0;
    }
    h1 {
      float: none;
      font-size: 3rem;
      @include breakpoint(medium down) {
        font-size: 2rem;
      }
      @include breakpoint(small down) {
        font-size: 1.5rem;
      }
    }
    .button {
      margin-top: 2rem;
    }
    .icon {
      width: 5rem;
      @include breakpoint(medium down) {
        width: 4.5rem;
      }
      @include breakpoint(small down) {
        width: 4rem;
      }
    }
  }
  &.no-spacing {
    margin-bottom: 0;
  }
}