.how-it-works {
  .border-box {
    text-align: center;
    h3 {
      font-size: 2.2rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    p {
      margin-bottom: 0;
    }
    .border {
      border: 3px solid map-get($foundation-palette, primary);
      padding: 3rem;
      position: relative;
      top: -3.6rem;
    }
  }
  .icon {
    background-color: $light-gray;
    height: 7rem;
    fill: map-get($foundation-palette, primary);
    padding: 1rem;
    position: relative;
    width: 7rem;
    z-index: 1;
  }
  .box-column {
    @include breakpoint(55em down) {
      width: 100%;
    }
  }
  .simple {
    .action {

    }
    .call {
      text-align: right;
      @include breakpoint(small down) {
        margin-bottom: 1rem;
        text-align: center;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
    }
  }
  .steps {
    margin-bottom: 1rem;
  }
}