.identification {
  background-image: url(../img/bg-blurred.jpg);
  background-position: center 70%;
  background-size: cover;
  padding: 16rem 0 8rem 0;
  @include breakpoint(medium down) {
    padding: 8.5rem 0 1.1rem 0;
  }
  @include breakpoint(small down) {
    padding: 7.3rem 0 0.8rem 0;
  }
  header {
    padding: 2rem 2rem 0 2rem;
    h1 {
      margin: 0;
    }
  }
  .content {
    padding: 2rem;
  }
  .float-box {
    background-color: $light-gray;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  }
  .why-choose-us {
    li {
      &:last-child {
        margin-bottom: 0;
      }
    }
    svg {
      fill: $dark-gray;
    }
  }
}

