.l-collapse {
  display: block;
}

.l-content {
  padding: 4rem 0;
  min-height: 30rem;
}

.l-flex {
  @include flex-grid-row();
  > .columns {
    @include flex-grid-column();
    &.l-hspacing-medium {
      padding-left: 4rem;
      padding-right: 4rem;
      @include breakpoint(medium down) {
        padding-left: $global-margin;
        padding-right: $global-margin;
      }
    }
  }
}

.l-flex-valign {
  @include flex-align-self(middle);
}

.l-float-left {
  float: left;
}

.l-float-right {
  float: right;
}

.l-hspacing-large {
  padding-left: 6rem;
  padding-right: 6rem;
  @include breakpoint(medium down) {
    padding-left: $global-margin;
    padding-right: $global-margin;
  }
}

.l-hspacing-medium {
  padding-left: 4rem;
  padding-right: 4rem;
  @include breakpoint(medium down) {
    padding-left: $global-margin;
    padding-right: $global-margin;
  }
}

.l-hspacing-small {
  padding-left: 2rem;
  padding-right: 2rem;
  @include breakpoint(medium down) {
    padding-left: $global-margin;
    padding-right: $global-margin;
  }
  .l-half-width {
    max-width: $global-half-width - 2;
  }
}

.l-listing {
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    padding-left: 1rem;
    &:first-child {
      padding-left: 0;
    }
  }
}

.l-no-spacing {
  > .column, > .columns {
    padding-left: 0;
    padding-right: 0;
  }
}

.l-overflow {
  overflow: hidden;
}

.l-overflow-content {
  height: 350px;
  margin: 2rem 0;
  overflow-y: scroll;
  img {
    width: 100%;
  }
}

.l-positioning {
  overflow: hidden;
  position: relative;
}

.l-unflex-small {
  @include breakpoint(small down) {
    display: block;
  }
}

.l-unflex-medium {
  @include breakpoint(medium down) {
    display: block;
  }
}

.l-unflex-large {
  @include breakpoint(large down) {
    display: block;
  }
}

.l-valign {
  @include vertical-center;
}

.l-vspacing-large {
  padding-bottom: 6rem;
  padding-top: 6rem;
  @include breakpoint(medium down) {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.l-vspacing-medium {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.l-vspacing-small {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.l-with-sidebar {
  padding: 0;
  > .row {
    > .columns {
      padding-bottom: 4rem;
      padding-top: 4rem;
      &.l-side-space {
        padding-bottom: 0;
        padding-top: 0;
        .sidebar {
          padding-bottom: 4rem;
          padding-top: 4rem;
        }
      }
    }
  }
}